In [1]:
import pandas as pd
import numpy as np
import datetime
import yfinance as yf
pd.set_option('display.max_rows', 200)

/opt/conda/envs/markets/lib/python3.10/site-packages/requests/__init__.py:86: RequestsDependencyWarning: Unable to find acceptable character detection dependency (chardet or charset_normalizer).
  warnings.warn(

# Question 1

In [2]:
url = "https://en.wikipedia.org/wiki/List_of_S%26P_500_companies"
sp_five_df = pd.read_html(url)[0]

In [3]:
sp_five_df['year_added'] = pd.to_datetime(sp_five_df['Date added']).dt.year

In [4]:
(sp_five_df
 .groupby('year_added')
 .size().to_frame().reset_index()
 .rename(columns={0:'cnts'})
 .sort_values("cnts", ascending=False)
 ).head(5)

    year_added  cnts
0         1957    53
47        2016    23
48        2017    23
50        2019    22
39        2008    17

# Question 2

In [5]:
world_indices = {
    'S&P 500': '^GSPC',
    'Shanghai Composite': '000001.SS',
    'HANG SENG INDEX': '^HSI',
    'S&P/ASX 200': '^AXJO',
    'Nifty 50': '^NSEI',
    'S&P/TSX Composite': '^GSPTSE',
    'DAX': '^GDAXI',
    'FTSE 100': '^FTSE',
    'Nikkei 225': '^N225',
    'IPC Mexico': '^MXX',
    'Ibovespa': '^BVSP'
}

In [6]:
start_date = '2025-01-01'
end_date = '2025-05-01'

In [7]:
data = yf.download(list(world_indices.values()), start=start_date, end=end_date, group_by='ticker')

[                       0%                       ]

YF.download() has changed argument auto_adjust default to True

[*********************100%***********************]  11 of 11 completed

In [8]:
closing_prices  = pd.DataFrame({
    f"{idx}".lower(): data[ticker]['Close'] for idx, ticker in world_indices.items()
})

In [9]:
ytd_performance = {}

for ticker in closing_prices.columns:

    series = closing_prices[ticker].dropna()
    if len(series) >= 2:
        first = series.iloc[0]
        last = series.iloc[-1]
        ytd_performance[ticker] = ((last - first) / first) * 100

ytd_performance = pd.Series(ytd_performance).sort_values(ascending=False).round(2)

In [10]:
ytd_performance

ipc mexico            13.05
hang seng index       12.72
ibovespa              12.44
dax                   12.35
ftse 100               2.84
nifty 50               2.49
shanghai composite     0.50
s&p/tsx composite     -0.23
s&p/asx 200           -0.91
s&p 500               -5.10
nikkei 225            -8.30
dtype: float64

# Question 3

In [11]:

ticker = "^GSPC"
start_date = "1950-01-01"

# Download the data
sp500_data = yf.download(ticker, start=start_date, end=None)

[*********************100%***********************]  1 of 1 completed

In [12]:
sp500_data = pd.DataFrame({'Close': sp500_data['Close']['^GSPC']})

In [13]:
sp500_data['cummulative_max'] = sp500_data['Close'].cummax()

In [14]:
sp500_data['cummax_shifted'] = sp500_data['cummulative_max'].shift(1)

In [15]:
sp500_data['is_all_time_high'] = sp500_data['Close'] > sp500_data['cummax_shifted']

In [16]:
all_time_high = sp500_data.query("is_all_time_high==True")

In [17]:
min_between_all_high = []
for i in range(1, len(all_time_high)):
    start_date = all_time_high.index[i - 1]
    end_date = all_time_high.index[i]
    min_value = sp500_data.loc[start_date:end_date]['Close'].min()
    min_date = sp500_data.loc[start_date:end_date]['Close'].idxmin()
    min_between_all_high.append({"previous_high_date": start_date,
                                 "next_high_date": end_date,
                                 'min_high_date':min_date,
                                  "previous_high": sp500_data.loc[start_date]['Close'],
                                  "next_high": sp500_data.loc[end_date]['Close'],
                                  "min_between_highs": min_value})

In [18]:
consecutive_high_df = pd.DataFrame(min_between_all_high)

In [19]:
def drawdown_percentage(row):
    if row['previous_high'] > row['next_high']:
        max_value = row['previous_high']
    else:
        max_value = row['next_high']
    return ((max_value- row['min_between_highs'])/max_value)*100

In [20]:
consecutive_high_df['drawdown_percentage'] = consecutive_high_df.apply(drawdown_percentage, axis=1).round(2)

In [21]:
consecutive_high_df['drawdown_duration'] =  consecutive_high_df['min_high_date'] - consecutive_high_df['previous_high_date']

In [22]:
correction_duration_df = consecutive_high_df.query("drawdown_percentage > 5").sort_values("drawdown_percentage", ascending=False).copy()

In [23]:
top_ten = correction_duration_df.head(10)

In [24]:
for i in top_ten.index:
    start_date = top_ten.loc[i]['previous_high_date'].strftime("%Y-%m-%d")
    end_date = top_ten.loc[i]['min_high_date'].strftime("%Y-%m-%d")
    drawdown = top_ten.loc[i]['drawdown_percentage']
    duration = top_ten.loc[i]['drawdown_duration']
    print(f"{start_date} to {end_date}: {drawdown}% over {duration}")

2007-10-09 to 2009-03-09: 56.89% over 517 days 00:00:00
2000-03-24 to 2002-10-09: 49.24% over 929 days 00:00:00
1973-01-11 to 1974-10-03: 48.72% over 630 days 00:00:00
1968-11-29 to 1970-05-26: 36.3% over 543 days 00:00:00
2020-02-19 to 2020-03-23: 34.0% over 33 days 00:00:00
1987-08-25 to 1987-12-04: 33.76% over 101 days 00:00:00
1980-11-28 to 1982-08-12: 28.31% over 622 days 00:00:00
1961-12-12 to 1962-06-26: 27.99% over 196 days 00:00:00
2022-01-03 to 2022-10-12: 26.09% over 282 days 00:00:00
1966-02-09 to 1966-10-07: 22.39% over 240 days 00:00:00

In [25]:
correction_duration_df['drawdown_duration'].describe(percentiles=[0.25, 0.5, 0.75])

count                             84
mean      99 days 14:51:25.714285714
std      167 days 16:27:02.159153774
min                  6 days 00:00:00
25%                 19 days 18:00:00
50%                 34 days 00:00:00
75%                 76 days 12:00:00
max                929 days 00:00:00
Name: drawdown_duration, dtype: object

# Question 4

In [26]:

url = "https://raw.githubusercontent.com/DataTalksClub/stock-markets-analytics-zoomcamp/main/cohorts/2025/ha1_Amazon.csv"
df_amazon = pd.read_csv(url, delimiter=';')

In [27]:
df_amazon = df_amazon[df_amazon['Symbol'].notnull()].copy()

In [28]:
df_amazon.head()

,Symbol,Company,Earnings Date,EPS Estimate,Reported EPS,Surprise (%)
0,AMZN,Amazon.com Inc,"April 29, 2026 at 6 AM EDT",-,-,-
1,AMZN,Amazon.com Inc,"February 4, 2026 at 4 PM EST",-,-,-
2,AMZN,Amazon.com Inc,"October 29, 2025 at 6 AM EDT",-,-,-
3,AMZN,Amazon.com Inc,"July 30, 2025 at 4 PM EDT",-,-,-
4,AMZN,"Amazon.com, Inc.","May 1, 2025 at 4 PM EDT",???.36,???.59,+16.74

# Clean Csv Data

In [29]:
df_amazon['EPS Estimate'] = df_amazon['EPS Estimate'].replace("-|^\?\?\?", "", regex=True)
df_amazon['Reported EPS'] = df_amazon['Reported EPS'].replace("-|^\?\?\?", "", regex=True)
df_amazon['Surprise (%)'] = df_amazon['Surprise (%)'].replace("-|^\+", "", regex=True)

In [30]:
df_amazon['EPS Estimate'] = np.where(df_amazon['EPS Estimate']=='01.???', '1.01', df_amazon['EPS Estimate'])

In [31]:
for c in ['EPS Estimate', 'Reported EPS', 'Surprise (%)']:
    df_amazon[c] = df_amazon[c].replace("", None)
    df_amazon[c] = df_amazon[c].astype(float)

In [32]:
df_amazon['Clean Earnings Date'] = df_amazon["Earnings Date"].str.extract(r"^(.*? \d{4})")

In [33]:
df_amazon['is_positive_surprise'] = np.where((df_amazon['Reported EPS'] > df_amazon['EPS Estimate']) |
                                             (df_amazon['Surprise (%)'] >0), 1, 0)

In [34]:
df_amazon["Date"] = pd.to_datetime(df_amazon["Clean Earnings Date"])

In [35]:
df_amazon["Date"].describe()

count                              116
mean     2011-12-11 09:55:51.724137984
min                1997-07-10 00:00:00
25%                2004-09-28 06:00:00
50%                2011-12-13 00:00:00
75%                2019-02-21 00:00:00
max                2026-04-29 00:00:00
Name: Date, dtype: object

In [36]:
ticker = "AMZN"
start_date = "1997-07-10"
end_date = "2026-04-29"

# Download the data
amz_data = yf.download(ticker, start=start_date, end=end_date)

[*********************100%***********************]  1 of 1 completed

In [49]:
df_close_amz  = pd.DataFrame({'Close': amz_data['Close'][ticker]})

In [50]:
df_close_amz['Close_Day3'] = df_close_amz['Close'].shift(-2)
df_close_amz['2day_percentage'] = (df_close_amz['Close_Day3']/df_close_amz['Close']) - 1

In [51]:
df_close_amz

                 Close  Close_Day3  2day_percentage
Date
1997-07-10    0.128125    0.106771        -0.166665
1997-07-11    0.114583    0.121875         0.063639
1997-07-14    0.106771    0.116667         0.092684
1997-07-15    0.121875    0.110938        -0.089740
1997-07-16    0.116667    0.107813        -0.075891
...                ...         ...              ...
2025-05-20  204.070007  203.100006        -0.004753
2025-05-21  201.119995  200.990005        -0.000646
2025-05-22  203.100006  206.020004         0.014377
2025-05-23  200.990005         NaN              NaN
2025-05-27  206.020004         NaN              NaN

[7014 rows x 3 columns]

In [52]:
df_positive_surprise = df_amazon.set_index("Date")[['is_positive_surprise']]

In [53]:
df_close_amz = df_close_amz.merge(df_positive_surprise, left_index=True, right_index=True, how='left')

In [56]:
df_close_amz.query("is_positive_surprise==1")

                 Close  Close_Day3  2day_percentage  is_positive_surprise
Date
1997-07-10    0.128125    0.106771        -0.166665                   1.0
1997-10-27    0.213542    0.269531         0.262192                   1.0
1998-01-22    0.256771    0.240625        -0.062881                   1.0
1998-04-27    0.344792    0.397917         0.154078                   1.0
1998-07-22    1.116667    1.035417        -0.072761                   1.0
1998-10-28    0.975521    1.053646         0.080085                   1.0
1999-01-26    2.877344    3.071875         0.067608                   1.0
1999-04-28    4.837500    4.301563        -0.110788                   1.0
1999-07-21    3.135938    2.864063        -0.086697                   1.0
1999-10-27    3.796875    3.531250        -0.069959                   1.0
2000-02-02    3.471875    3.928125         0.131413                   1.0
2000-04-26    2.675000    2.759375         0.031542                   1.0
2000-07-26    1.803125    1.500000        -0.168111                   1.0
2000-10-24    1.478125    1.843750         0.247357                   1.0
2001-01-30    0.946875    0.812500        -0.141914                   1.0
2001-04-24    0.784000    0.771500        -0.015944                   1.0
2001-07-23    0.801500    0.575500        -0.281971                   1.0
2001-10-23    0.477500    0.388500        -0.186387                   1.0
2002-01-22    0.630000    0.700500         0.111905                   1.0
2002-04-23    0.703000    0.841000         0.196302                   1.0
2002-07-23    0.727500    0.624500        -0.141581                   1.0
2002-10-24    0.993000    0.929500        -0.063948                   1.0
2003-01-23    1.089500    1.089000        -0.000459                   1.0
2003-04-24    1.256000    1.455500         0.158838                   1.0
2003-07-22    1.743500    2.065500         0.184686                   1.0
2003-10-21    2.967500    2.716000        -0.084751                   1.0
2004-01-27    2.787000    2.461000        -0.116972                   1.0
2004-04-22    2.443000    2.362500        -0.032951                   1.0
2004-07-22    2.291000    1.939000        -0.153645                   1.0
2004-10-21    1.973500    1.698500        -0.139346                   1.0
2005-02-02    2.094000    1.786000        -0.147087                   1.0
2005-04-26    1.635500    1.626000        -0.005809                   1.0
2005-07-26    1.887000    2.284000         0.210387                   1.0
2005-10-25    2.308500    1.953000        -0.153996                   1.0
2006-02-02    2.137000    1.897500        -0.112073                   1.0
2006-04-25    1.777500    1.787000         0.005345                   1.0
2006-07-25    1.679500    1.328000        -0.209289                   1.0
2006-10-24    1.681500    1.915000         0.138864                   1.0
2007-02-01    1.935000    1.858000        -0.039793                   1.0
2007-04-24    2.237500    3.139000         0.402905                   1.0
2007-07-24    3.462500    4.200500         0.213141                   1.0
2007-10-23    5.041000    4.410500        -0.125074                   1.0
2008-01-30    3.710500    3.731500         0.005660                   1.0
2008-04-23    4.050000    4.043000        -0.001728                   1.0
2008-07-23    3.527000    3.915500         0.110150                   1.0
2008-10-22    2.499500    2.448000        -0.020604                   1.0
2009-01-29    2.500000    3.057500         0.223000                   1.0
2009-04-23    4.030500    4.156000         0.031138                   1.0
2009-07-23    4.693500    4.212000        -0.102589                   1.0
2009-10-22    4.672500    6.232000         0.333761                   1.0
2010-01-28    6.301500    5.943500        -0.056812                   1.0
2010-04-22    7.504500    7.355500        -0.019855                   1.0
2010-07-22    6.003500    5.920000        -0.013909                   1.0
2010-10-21    8.248500    8.450000         0.024429                   1.0
2011-01-27    9.222500    8.482000        -0.080293                   1.0
2011-04-26    9.115000    9.753500         0.070049                   1.0
2011-07-26   10.709000   11.195000         0.045382                   1.0
2011-10-25   11.357500   10.339000        -0.089676                   1.0
2012-01-31    9.722000    9.086000        -0.065419                   1.0
2012-04-26    9.799500   11.595000         0.183224                   1.0
2012-07-26   11.000500   11.804500         0.073088                   1.0
2012-10-25   11.146000   11.644500         0.044725                   1.0
2013-01-29   13.017500   13.275000         0.019781                   1.0
2013-04-25   13.735000   12.487000        -0.090863                   1.0
2013-07-25   15.170000   15.305000         0.008899                   1.0
2013-10-24   16.610500   17.908001         0.078113                   1.0
2014-01-30   20.150499   17.307501        -0.141088                   1.0
2014-04-24   16.857500   14.829000        -0.120332                   1.0
2014-07-24   17.930500   16.020500        -0.106522                   1.0
2014-10-23   15.659000   14.498500        -0.074111                   1.0
2015-01-29   15.589000   18.223499         0.168997                   1.0
2015-04-23   19.499500   21.927999         0.124542                   1.0
2015-07-23   24.108999   26.570499         0.102099                   1.0
2015-10-22   28.195499   30.430500         0.079268                   1.0
2016-01-28   31.767500   28.740499        -0.095286                   1.0
2016-04-28   30.100000   34.192501         0.135963                   1.0
2016-07-28   37.630501   38.387001         0.020103                   1.0
2016-10-27   40.917999   39.491001        -0.034875                   1.0
2017-02-02   41.997501   40.382000        -0.038467                   1.0
2017-04-27   45.918999   47.411499         0.032503                   1.0
2017-07-27   52.299999   49.389000        -0.055660                   1.0
2017-10-26   48.621498   55.542500         0.142344                   1.0
2018-02-01   69.500000   69.500000         0.000000                   1.0
2018-04-26   75.898003   78.306503         0.031733                   1.0
2018-07-26   90.400002   88.960999        -0.015918                   1.0
2018-10-25   89.108498   76.944000        -0.136513                   1.0
2019-01-31   85.936501   81.665497        -0.049700                   1.0
2019-04-25   95.112503   96.921501         0.019020                   1.0
2019-07-25   98.691002   95.622498        -0.031092                   1.0
2019-10-24   89.039001   88.853996        -0.002078                   1.0
2020-01-30   93.533997  100.209999         0.071375                   1.0
2020-04-30  123.699997  115.799500        -0.063868                   1.0
2020-07-30  152.593994  155.594498         0.019663                   1.0
2020-10-29  160.550507  150.223999        -0.064319                   1.0
2021-02-02  169.000000  166.550003        -0.014497                   1.0
2021-04-29  173.565506  169.324493        -0.024435                   1.0
2021-07-29  179.996002  166.574005        -0.074568                   1.0
2021-10-28  172.328506  165.905502        -0.037272                   1.0
2022-02-03  138.845505  157.935501         0.137491                   1.0
2022-04-28  144.596497  124.500000        -0.138983                   1.0
2022-07-28  122.279999  135.389999         0.107213                   1.0
2022-10-27  110.959999  102.440002        -0.076784                   1.0
2023-02-02  112.910004  102.180000        -0.095031                   1.0
2023-04-27  109.820000  102.050003        -0.070752                   1.0
2023-08-03  128.910004  142.220001         0.103250                   1.0
2023-10-26  119.570000  132.710007         0.109894                   1.0
2024-02-01  159.279999  170.309998         0.069249                   1.0
2024-04-30  175.000000  184.720001         0.055543                   1.0
2024-08-01  184.070007  161.020004        -0.125224                   1.0
2024-10-31  186.399994  195.779999         0.050322                   1.0
2025-02-06  238.830002  233.139999        -0.023824                   1.0
2025-05-01  190.199997  186.350006        -0.020242                   1.0

In [55]:
df_close_amz['2day_percentage'].median()

np.float64(0.0016349067076996127)